# Flutter
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
build/

# Android
**/android/.gradle
**/android/local.properties

# iOS
**/ios/Pods

# VS Code
.vscode/

# Node
node_modules/
.next/

# Firebase
.firebase/

# Environment
.env
.env.local